body {
  @extend %exo2-400;
  color: $black;
  font-size: 18px;
  line-height: 1.2;
  background-color: $main;
}

h1,
h2,
h3,
h4 {
  @extend %montserrat-400;
}

section {
  max-width: 1920px;
  margin: 0 auto 120px auto;
}

a {
  color: $white;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: $accent-light;
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  span {
    font-weight: 700;
  }
}

.subtitle {
  font-size: 30px;
  text-align: center;
  margin-bottom: 80px;
}
