%exo2-400{
  font-family: 'Exo2', sans-serif;
  font-weight: 400;
}

%montserrat-400{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

$white: #ffffff;
$black: #000000;
$main: #191919;
$accent: #f9e784;
$accent-light: #f1e8b8;
$red: #d05353;
$red-light: #e58f65;

