@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "animate";
@import "global";

.header {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 130px;
  &__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  &__top-inner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 15px 0;
    color: $white;
  }
  &__top-description {
    margin-right: 70px;
    margin-left: 40px;
  }
  &__top-location {
    padding-left: 40px;
    position: relative;
    span {
      color: $accent;
      display: block;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background-image: url(../images/map-pin.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  &__top-contact {
    margin-left: auto;
    margin-right: 70px;
  }
  &__top-mail {
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }
  &__top-messengers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a + a {
      margin-left: 5px;
    }
  }
  &__top-viber,
  &__top-telegram,
  &__top-whatsapp,
  &__top-facebook {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(5px);
    }
  }
  &__top-viber {
    background-color: #7460f3;
  }
  &__top-telegram {
    background-color: #01a2f3;
  }
  &__top-whatsapp {
    background-color: #36b913;
  }
  &__top-facebook {
    background-color: #0082fe;
  }
  &__top-phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__top-schedule {
    font-size: 16px;
    margin-bottom: 7px;
    position: relative;
    padding-left: 15px;
    margin-right: 15px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $accent;
      box-shadow: 0 0 7px $accent-light;
    }
  }
  &__top-number {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__top-btn {
    font-size: 16px;
    border-bottom: 1px dashed $accent-light;
    padding-bottom: 5px;
  }
  &__middle {
    min-height: calc(100vh - 196px);
    display: flex;
    width: 100%;
    margin-bottom: 50px;
  }
  &__middle-wrapper {
    margin: auto;
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 60px;
    color: $white;
    margin-bottom: 60px;
    span {
      height: 50px;
      width: 3px;
      background-color: $accent;
      display: inline-block;
      margin: 0 10px;
      position: relative;
      top: 7px;
    }
  }
  &__middle-inner {
    display: flex;
    align-items: center;
  }
  &__btn {
    @extend %btn;
    padding: 30px 50px;
    margin-right: 50px;
  }
  &__btn-text {
    width: 430px;
    font-size: 16px;
    line-height: 1.3;
    color: $white;
    position: relative;
    padding-left: 50px;
    span {
      display: block;
      font-weight: 700;
    }
    &::before {
      @extend %circle;
      left: 10px;
      top: 17px;
      width: 10px;
      height: 10px;
    }
    &::after {
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      left: 5px;
      top: 22px;
      background-image: url(../images/finger.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }
  }
  &__middle-bages {
    width: 250px;
    color: $white;
  }
  &__middle-bage {
    background-color: rgba(25, 25, 25, 0.9);
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    line-height: 1.3;
    position: relative;
    &::before {
      @extend %circle;
      width: 15px;
      height: 15px;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
    span {
      display: block;
      font-weight: 700;
    }
  }
  &__middle-bage + .header__middle-bage {
    margin-top: 40px;
  }
  &__bottom-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    color: $white;
  }
  &__bottom-bage {
    padding-left: 70px;
    position: relative;
    line-height: 1.4;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid $accent-light;
      background-image: url(../images/check.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50%;
    }
    span {
      color: $accent-light;
    }
  }
}

.logo {
  flex-basis: 135px;
}

.menu {
  &__items {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
  }
  &__link {
    text-transform: uppercase;
    font-size: 19px;
    padding: 10px 15px;
  }
}

.quiz {
  background-color: $main;
  &__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
  }
  &__title {
    color: $white;
    margin-bottom: 80px;
  }
  &__inner {
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 60px;
    border-radius: 50px;
  }
  &__boss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 470px;
    height: 850px;
    flex-shrink: 0;
    background-image: url(../images/quiz-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 50px;
    padding: 50px;
    text-align: center;
    color: $white;
    border-radius: 25px;
  }
  &__boss-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__boss-subtitle {
    font-size: 23px;
    margin-bottom: auto;
  }
  &__boss-text {
    font-size: 20px;
    margin-bottom: 20px;
    span {
      font-weight: 700;
    }
  }
  &__boss-name {
    font-size: 30px;
    margin-bottom: 5px;
  }
  &__steps {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
    max-width: fit-content;
  }
  &__progress,
  &__success {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
  }
  &__progress {
    right: 0;
    background-color: #ccc;
    z-index: 5;
  }
  &__success {
    background-color: $red;
    z-index: 6;
    transition: all 0.3s ease-in-out;
  }
  &__step {
    width: 50px;
    height: 50px;
    border: 3px solid $red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    &.--active-step {
      background-color: $red;
      color: $white;
      transition: all 0.6s ease-in-out;
    }
    & + .quiz__step {
      margin-left: 100px;
    }
  }
  &__item {
    display: none;
    top: 0;
    left: 0;
    &.--active {
      display: block;
    }
  }
  &__item-title {
    font-size: 45px;
    margin-bottom: 10px;
    text-align: center;
  }
  &__text {
    font-size: 20px;
    margin-bottom: 70px;
    text-align: center;
    color: #999;
  }
  &__input-items {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  &__label {
    user-select: none;
    position: relative;
    display: block;
    padding: 30px 30px 30px 75px;
    background-color: #fafafa;
    cursor: pointer;
    border-radius: 50px;
    color: #b4b4b4;
  }
  &__checkbox {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }
  &__checkbox-style {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
  }
  &__checkbox-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50px;
  }
  &__checkbox:checked ~ .quiz__checkbox-style {
    background: $red;
    svg path:nth-child(2) {
      fill: $white;
    }
  }
  &__checkbox:checked ~ .quiz__checkbox-border {
    border: 1px solid $red-light;
  }
  &__checkbox:checked ~ span {
    color: $black;
  }
  &__btn,
  &__btn-submit {
    @extend %btn;
    padding: 20px 40px;
    position: relative;
    &:nth-child(1) {
      margin-right: 20px;
    }
  }
}

.portfolio {
  &__title,
  &__subtitle {
    color: $white;
  }
  &__items {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
    border-radius: 35px;
    overflow: hidden;
    position: relative;
    height: 560px;
    display: flex;
    flex-direction: column;
    color: $white;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &__item-top {
    position: relative;
    z-index: 10;
    margin-bottom: auto;
  }
  &__item-list {
    display: block;
    margin-left: auto;
    max-width: fit-content;
    padding: 20px;
    background-color: rgba(25, 25, 25, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 5px $main;
  }
  &__item-element {
    font-size: 20px;
    padding-left: 25px;
    position: relative;
    &::before {
      @extend %circle;
      width: 10px;
      height: 10px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    & + .portfolio__item-element {
      margin-top: 10px;
    }
  }
  &__item-bottom {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  &__item-title {
    font-size: 25px;
    margin-right: 20px;
    padding: 20px;
    background-color: rgba(25, 25, 25, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 5px $main;
  }
  &__item-btn {
    @extend %btn;
    padding: 10px 25px;
    flex-shrink: 0;
    height: 60px;
    display: flex;
    align-items: center;
  }
}

.service {
  background-image: url(../images/service-bg.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 350px;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -395px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    height: 500px;
    width: 2390px;
    border-radius: 50%;
    background-color: $white;
  }
  &::after {
    content: "psd";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    padding-bottom: 4px;
    width: 130px;
    height: 130px;
    color: $red-light;
    font-weight: 700;
    border-radius: 50%;
    border: 25px solid $white;
    background-color: $main;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }
  &__title,
  &__subtitle {
    color: $white;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    color: $white;
  }
  &__item {
    display: flex;
    flex-direction: column;
    height: 700px;
    border-radius: 50px;
    overflow: hidden;
    padding: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    &:hover {
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
    }
  }
  &__item-top {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: auto;
  }
  &__item-decor {
    position: absolute;
    left: -93px;
    top: 97px;
    padding-left: 110px;
    opacity: 0.4;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
    transform: rotate(-90deg);
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100px;
      height: 1px;
      background-color: #fff;
      opacity: 0.4;
    }
  }
  &__item-num {
    font-size: 30px;
    margin-left: auto;
  }
  &__item-title {
    font-size: 35px;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  &__item-list {
    column-count: 2;
  }
  &__item-text {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 30px;
  }
  &__item-list {
    line-height: 1.5;
  }
  &__item-element {
    position: relative;
    padding-left: 15px;
    font-size: 16px;
    &::before {
      @extend %circle;
      width: 7px;
      height: 7px;
      box-shadow: 0 0 0 3px rgba(241, 232, 184, 0.377);
      top: 14px;
      transform: translateY(-50%);
      left: 0;
    }
  }
}

.price {
  padding: 0 0 750px 0;
  background-color: $white;
  background-image: url(../images/price-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin-bottom: 0;
  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -395px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    height: 500px;
    width: 2390px;
    border-radius: 50%;
    background-color: $main;
  }
  &::after {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    padding-bottom: 4px;
    width: 130px;
    height: 130px;
    color: $red-light;
    font-weight: 700;
    border-radius: 50%;
    border: 25px solid $main;
    background-color: $white;
    background-image: url(../images/shield.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }
  &__wrapper {
    max-width: 1300px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    max-width: 580px;
    width: 100%;
  }
  &__subtitle {
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  &__title {
    text-align: left;
  }
  &__form-box {
    background-color: rgba(25, 25, 25, 0.85);
    box-shadow: 0 0 5px rgba(25, 25, 25, 0.5);
    padding: 60px 40px;
    border-radius: 30px;
    max-width: 430px;
    width: 100%;
    margin-left: auto;
    color: $white;
  }
  &__form-title {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__input {
    display: block;
    width: 100%;
    padding: 20px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: $white;
    margin-bottom: 30px;
  }
  &__btn {
    @extend %btn;
    padding: 20px;
    width: 100%;
    margin-bottom: 25px;
  }
  &__form-text {
    font-size: 14px;
    text-align: center;
    span {
      text-decoration: underline;
    }
  }
}

.tab {
  &__nav-inner {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
  }
  &__nav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
    &.--active-tab {
      transform: scale(1.2);
    }
    & + .tab__nav {
      margin-left: 20px;
    }
  }
  &__nav-whatsapp {
    background-color: #36b913;
  }
  &__nav-viber {
    background-color: #7460f3;
  }
  &__nav-telegram {
    background-color: #01a2f3;
  }
  &__nav-mail {
    background-color: #0082fe;
  }
  &__content {
    display: none;
    &.--active-tab {
      display: block;
    }
  }
}

.security {
  padding: 80px 0 0 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  &::before {
    content: "guarantees";
    position: absolute;
    top: 50%;
    left: -170px;
    transform: translateY(-60%);
    font-size: 500px;
    z-index: -1;
    opacity: 0.015;
    font-weight: 300;
    color: $white;
  }
  &__wrapper {
    display: flex;
  }
  &__items {
    max-width: 420px;
    width: 100%;
    margin-right: auto;
    color: $white;
  }
  &__title {
    text-align: left;
    margin-bottom: 80px;
    font-weight: 700;
  }
  &__item {
    display: flex;
    align-items: center;
    &.security__item {
      margin-top: 70px;
    }
  }
  &__icon {
    margin-right: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid $accent-light;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  &__text {
    font-size: 22px;
    line-height: 1.3;
    span {
      color: $red-light;
    }
  }
  &__inner {
    max-width: 860px;
    width: 100%;
    position: relative;
  }
  &__subtitle {
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 50px;
    max-width: 600px;
    color: $white;
    span {
      font-weight: 700;
    }
  }
  &__img-box {
    border-radius: 30px;
    overflow: hidden;
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
  }
  &__gallery-next,
  &__gallery-prev {
    position: absolute;
    bottom: 50%;
    transform: translateY(100%);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 50px rgba(241, 232, 184, 0.2);
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;
    path:nth-child(2) {
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      box-shadow: none;
      background-color: $red;
      path:nth-child(2) {
        fill: $white;
      }
    }
  }
  &__gallery-next {
    right: -35px;
    padding-left: 4px;
  }
  &__gallery-prev {
    left: -35px;
    padding-right: 4px;
  }
  &__gallery-pagination {
    position: absolute;
    top: 20px;
    right: 0;
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: auto;
    left: auto;
    width: fit-content;
  }
}

.benefit {
  padding: 100px 0 300px 0;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  background-image: url(../images/benefit-bg.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -395px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    height: 500px;
    width: 2390px;
    border-radius: 50%;
    background-color: #ededed;
  }
  &::after {
    content: "psd";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    padding-bottom: 4px;
    width: 130px;
    height: 130px;
    color: $red-light;
    font-weight: 700;
    border-radius: 50%;
    border: 25px solid #ededed;
    background-color: $main;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }
  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__title {
    color: $white;
    margin-bottom: 90px;
  }
  &__items {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
  }
  &__item {
    position: relative;
    height: 400px;
    color: $white;
    background-image: url(../images/benefit-1.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 30px;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  &__num {
    position: absolute;
    font-size: 25px;
    color: $red;
    top: 30px;
    right: 30px;
  }
  &__text {
    margin-top: auto;
    font-size: 30px;
  }
}

.estimate {
  position: relative;
  overflow: hidden;
  background-color: #ededed;
  background-image: url(../images/estimate-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-top: 50px;
  padding-bottom: 150px;
  &::before {
    content: "estimate";
    position: absolute;
    top: 0;
    left: -60%;
    font-size: 500px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
    z-index: 1;
  }
  &__wrapper {
    display: flex;
    position: relative;
    z-index: 10;
  }
  &__text-form {
    max-width: 745px;
    width: 100%;
    flex-shrink: 0;
    margin-right: 70px;
  }
  &__title {
    text-align: left;
    margin-bottom: 60px;
  }
  &__text {
    font-size: 25px;
    margin-bottom: 60px;
    font-weight: 300;
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__input-upload {
    display: none;
  }
  &__label,
  &__input {
    width: 380px;
    height: 100px;
    padding: 0 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: none;
    color: #999;
    background-color: $white;
  }
  &__label {
    cursor: pointer;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      background-image: url(../images/clip.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 70%;
      opacity: 0.7;
    }
  }
  &__input:focus {
    outline: 1px solid $red;
    color: $black;
  }
  &__btn {
    @extend %btn;
    width: 100%;
    height: 100px;
  }
  &__text-assent {
    font-size: 16px;
    span {
      text-decoration: underline;
    }
  }
  &__attention {
    max-width: 270px;
    padding-left: 45px;
    margin-bottom: 90px;
    font-size: 22px;
    position: relative;
    &::before {
      @extend %circle;
      width: 10px;
      height: 10px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &::after {
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      left: -5px;
      top: 38px;
      background-image: url(../images/finger.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }
    span {
      font-weight: 700;
    }
  }
  &__box {
    width: 400px;
    padding: 50px;
    background-color: rgba(25,25,25,.9);
    box-shadow: 0 0 5px rgba(25,25,25,.5);
    border-radius: 30px;
    color: $white;
    text-align: center;
    margin-left: 70px;
  }
  &__analysis-title {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  &__analysis-text {
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__analysis-btn {
    @extend %btn;
    padding: 30px 20px;
    width: 100%;
    margin-top: 30px;
  }
}

.tab-select {
  width: 100%;
  position: relative;
  user-select: none;
  margin-bottom: 20px;
  &__nav {
    max-width: 345px;
    width: 100%;
    &.--active-select .tab-select__nav-body {
      max-height: 500px;
      visibility: visible;
      top: 105px;
    }
    &.--active-select .tab-select__nav-icon svg {
      transform: rotate(180deg);
    }
  }
  &__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  &__nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background-color: #fff;
  }
  &__nav-current {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__nav-icon {
    margin-right: 30px;
    margin-top: 10px;
    svg {
      transition: all 0.3s ease-in-out;
    }
  }
  &__nav-body {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 5;
    border-radius: 50px;
    max-width: 345px;
    width: 100%;
    padding: 20px 0;
  }
  &__nav-item {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    & + .tab-select__nav-item {
      margin-top: 7px;
    }
    &:hover {
      transform: translateX(5px);
    }
  }
  &__nav-whatsapp,
  &__nav-viber,
  &__nav-telegram,
  &__nav-email {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    margin-right: 10px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__nav-whatsapp {
    background-color: #36b913;
  }
  &__nav-viber {
    background-color: #7460f3;
  }
  &__nav-telegram {
    background-color: #01a2f3;
  }
  &__nav-email {
    background-color: #0082fe;
  }
  &__content-item {
    display: none;
    &.--active-content {
      display: block;
    }
  }
}

@import "media";
