@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "animate";
@import "global";

.header {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 130px;
  &__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  &__top-inner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 15px 0;
    color: $white;
  }
  &__top-description {
    margin-right: 70px;
    margin-left: 40px;
  }
  &__top-location {
    padding-left: 40px;
    position: relative;
    span {
      color: $accent;
      display: block;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background-image: url(../images/map-pin.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  &__top-contact {
    margin-left: auto;
    margin-right: 70px;
  }
  &__top-mail {
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }
  &__top-messengers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a + a {
      margin-left: 5px;
    }
  }
  &__top-viber,
  &__top-telegram,
  &__top-whatsapp,
  &__top-facebook {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(5px);
    }
  }
  &__top-viber {
    background-color: #7460f3;
  }
  &__top-telegram {
    background-color: #01a2f3;
  }
  &__top-whatsapp {
    background-color: #36b913;
  }
  &__top-facebook {
    background-color: #0082fe;
  }
  &__top-phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__top-schedule {
    font-size: 16px;
    margin-bottom: 7px;
    position: relative;
    padding-left: 15px;
    margin-right: 15px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $accent;
      box-shadow: 0 0 7px $accent-light;
    }
  }
  &__top-number {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__top-btn {
    font-size: 16px;
    border-bottom: 1px dashed $accent-light;
    padding-bottom: 5px;
  }
  &__middle {
    min-height: calc(100vh - 196px);
    display: flex;
    width: 100%;
    margin-bottom: 50px;
  }
  &__middle-wrapper {
    margin: auto;
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 60px;
    color: $white;
    margin-bottom: 60px;
    span {
      height: 50px;
      width: 3px;
      background-color: $accent;
      display: inline-block;
      margin: 0 10px;
      position: relative;
      top: 7px;
    }
  }
  &__middle-inner {
    display: flex;
    align-items: center;
  }
  &__btn {
    @extend %btn;
    padding: 30px 50px;
    margin-right: 50px;
  }
  &__btn-text {
    width: 430px;
    font-size: 16px;
    line-height: 1.3;
    color: $white;
    position: relative;
    padding-left: 50px;
    span {
      display: block;
      font-weight: 700;
    }
    &::before {
      @extend %circle;
      left: 10px;
      top: 17px;
      width: 10px;
      height: 10px;
    }
    &::after {
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      left: 5px;
      top: 22px;
      background-image: url(../images/finger.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }
  }
  &__middle-bages {
    width: 250px;
    color: $white;
  }
  &__middle-bage {
    background-color: rgba(25, 25, 25, 0.9);
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    line-height: 1.3;
    position: relative;
    &::before {
      @extend %circle;
      width: 15px;
      height: 15px;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
    span {
      display: block;
      font-weight: 700;
    }
  }
  &__middle-bage + .header__middle-bage {
    margin-top: 40px;
  }
  &__bottom-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    color: $white;
  }
  &__bottom-bage {
    padding-left: 70px;
    position: relative;
    line-height: 1.4;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid $accent-light;
      background-image: url(../images/check.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50%;
    }
    span {
      color: $accent-light;
    }
  }
}

.logo {
  flex-basis: 135px;
}

.menu {
  &__items {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
  }
  &__link {
    text-transform: uppercase;
    font-size: 19px;
    padding: 10px 15px;
  }
}

.quiz {
  background-color: $main;
  &__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
  }
  &__title {
    color: $white;
    margin-bottom: 80px;
  }
  &__inner {
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 60px;
    border-radius: 50px;
  }
  &__boss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 470px;
    height: 850px;
    flex-shrink: 0;
    background-image: url(../images/quiz-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 50px;
    padding: 50px;
    text-align: center;
    color: $white;
    border-radius: 25px;
  }
  &__boss-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__boss-subtitle {
    font-size: 23px;
    margin-bottom: auto;
  }
  &__boss-text {
    font-size: 20px;
    margin-bottom: 20px;
    span {
      font-weight: 700;
    }
  }
  &__boss-name {
    font-size: 30px;
    margin-bottom: 5px;
  }
  &__steps {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
    max-width: fit-content;
  }
  &__progress,
  &__success {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
  }
  &__progress {
    right: 0;
    background-color: #ccc;
    z-index: 5;
  }
  &__success {
    background-color: $red;
    z-index: 6;
    transition: all 0.3s ease-in-out;
  }
  &__step {
    width: 50px;
    height: 50px;
    border: 3px solid $red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    &.--active-step {
      background-color: $red;
      color: $white;
      transition: all 0.6s ease-in-out;
    }
    & + .quiz__step {
      margin-left: 100px;
    }
  }
  &__item {
    display: none;
    top: 0;
    left: 0;
    &.--active {
      display: block;
    }
  }
  &__item-title {
    font-size: 45px;
    margin-bottom: 10px;
    text-align: center;
  }
  &__text {
    font-size: 20px;
    margin-bottom: 70px;
    text-align: center;
    color: #999;
  }
  &__input-items {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  &__label {
    user-select: none;
    position: relative;
    display: block;
    padding: 30px 30px 30px 75px;
    background-color: #fafafa;
    cursor: pointer;
    border-radius: 50px;
    color: #b4b4b4;
  }
  &__checkbox {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }
  &__checkbox-style {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
  }
  &__checkbox-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50px;
  }
  &__checkbox:checked ~ .quiz__checkbox-style {
    background: $red;
    svg path:nth-child(2) {
      fill: $white;
    }
  }
  &__checkbox:checked ~ .quiz__checkbox-border {
    border: 1px solid $red-light;
  }
  &__checkbox:checked ~ span {
    color: $black;
  }
  &__btn,
  &__btn-submit {
    @extend %btn;
    padding: 20px 40px;
    position: relative;
    &:nth-child(1) {
      margin-right: 20px;
    }
  }
}

.portfolio {
  &__title,
  &__subtitle {
    color: $white;
  }
  &__items {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
    border-radius: 35px;
    overflow: hidden;
    position: relative;
    height: 560px;
    display: flex;
    flex-direction: column;
    color: $white;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &__item-top {
    position: relative;
    z-index: 10;
    margin-bottom: auto;
  }
  &__item-list {
    display: block;
    margin-left: auto;
    max-width: fit-content;
    padding: 20px;
    background-color: rgba(25,25,25,.8);
    border-radius: 20px;
    box-shadow: 0 0 5px $main;
  }
  &__item-element {
    font-size: 20px;
    padding-left: 25px;
    position: relative;
    &::before {
      @extend %circle;
      width: 10px;
      height: 10px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    & + .portfolio__item-element {
      margin-top: 10px;
    }
  }
  &__item-bottom {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  &__item-title {
    font-size: 25px;
    margin-right: 20px;
    padding: 20px;
    background-color: rgba(25,25,25,.8);
    border-radius: 20px;
    box-shadow: 0 0 5px $main;
  }
  &__item-btn {
    @extend %btn;
    padding: 10px 25px;
    flex-shrink: 0;
    height: 60px;
    display: flex;
    align-items: center;
  }
}

.service {
  background-image: url(../images/service-bg.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 350px;
  &__title,
  &__subtitle {
    color: $white;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    color: $white;
  }
  &__item {
    display: flex;
    flex-direction: column;
    height: 700px;
    border-radius: 50px;
    overflow: hidden;
    padding: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all .5s ease-in-out;
    &:hover {
      box-shadow: 0 20px 20px rgba(0,0,0,.5);
    }
  }
  &__item-top {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: auto;
  }
  &__item-decor {
    position: absolute;
    left: -93px;
    top: 97px;
    padding-left: 110px;
    opacity: .4;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
    transform: rotate(-90deg);
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100px;
      height: 1px;
      background-color: #fff;
      opacity: .4;
    }
  }
  &__item-num {
    font-size: 30px;
    margin-left: auto;
  }
  &__item-title {
    font-size: 35px;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  &__item-list {
    column-count: 2;
  }
  &__item-text {
    font-size: 18px;
    opacity: .8;
    margin-bottom: 30px;
  }
  &__item-list {
    line-height: 1.5;
  }
  &__item-element {
    position: relative;
    padding-left: 15px;
    font-size: 16px;
    &::before {
      @extend %circle;
      width: 7px;
      height: 7px;
      box-shadow: 0 0 0 3px rgba(241, 232, 184, 0.377);
      top: 14px;
      transform: translateY(-50%);
      left: 0;
    }
  }
}

@import "media";
